/* header */

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    margin: 92px 24px 92px 24px;
    align-items: center;
}

.menu {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    list-style: circle;
    margin-left: 26px;
}

.header__menu {
    gap: 32px;
}

.link {
    letter-spacing: 0.01em;
    text-underline-offset: 5px;
}

.link-active {
    text-decoration: none;
}

.menu__item-nostyle {
    list-style: none;
}

.header__logo {
    width: 148px;
    height: 105px;
}

.address {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0.01em;
    color: #000;
    display: flex;
    flex-direction: column;
    width: 240px;
    justify-self: end;
    margin-right: 25px;
}


/* cover */

.overlay {
    position: relative;
    background-image: url("../images/cover.jpg");
    background-size: cover;
}

.cover__title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cover__title-left {
    text-align: left;
    margin-left: 50px;
    margin-top: 165px;
}

.cover__title-center {
    text-align: center;
    line-height: 100%;
}

.cover__title-right {
    text-align: right;
    line-height: 100%;
    margin-right: 50px;
}

.cover__title-extraspacing {
    letter-spacing: 0.6em;
}

.cover__title-nospacing {
    letter-spacing: 0em;
}

.cover__title-spacing {
    letter-spacing: 0.3em;
}

.cover__subline {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    color: #fff;
    margin-top: 135px;
    margin-left: 78px;
    padding-bottom: 52px;
    word-spacing: 18px;
}

.cover__subline_span {
    letter-spacing: 1.1em;
}

.cover__subline_button {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: none;
    border: solid 1px #fff;
    padding: 12px 32px 11px 31px;
    margin-left: 81px;
}